streamlit==1.28.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
thinc==8.2.1
python-dotenv==1.0.0
openai==0.28.0
pandas==2.0.3
numpy>=1.25
PyPDF2==3.0.1
requests==2.31.0
